<%- include('partials/header') %>

<div class="container">
    <h1>Please select a car you want to book</h1><br>
<% car.forEach(function(res){ %>
    <a href="/car/<%=res.id %>"><h3><%=res.name %>
    <img src="data:res/<%=res.img.contentType%>;base64, 
					<%=res.img.data.toString('base64')%>"></h3></a>
<% }) %>
</div>

