<%- include('partials/header') %>
<div class="container"> 
<h1>Your total price would be INR. <%= totalprice %> </h1>
<h1>for <%= day %> days</h1>
<h1>Car <%= car %> </h1><br>

<form style="text-align: center;" class="form-inline" method="POST" action="/totalprice">
    <div class="form-group">
        <input type="number" name="price" value="<%= totalprice %>" readonly>
    </div>
    <div class="form-group">
        <input type="nuber" name="days" value="<%= day %>" readonly>
    </div>
    <div class="form-group">
        <input type="text" name="car" value="<%= car %>" readonly>
    </div>
    <button type="submit" class="btn btn-default">Confirm</button>
  </form>

</div>
